body {
  color: #001109;
  background-color: #bbeeaa;
}

a:link {
  color: #335577;
}
a:visited {
  color: #557733;
}
a:active {
  color: #303232;
}
a:hover {
  background-color: #ddffcc;
}

h1, h2, h3, h4, h5, h6 {
#  padding: 8 24 8 24;
  border-style: solid;
  border-width: 0 0 0 0;
  background-color: #ccffbb;
#  border-color: #aadd99;
}

hr {
  border-width: 1 0 0 0;
  height: 1;
  #border-style: solid;
}

em {
}

strong {
  color: #cc3399;
}

pre {
  padding: 0 8 0 8;
  border-style: solid;
  border-width: 1 1 1 1;
  background-color: #cceebb;
  border-color: #aaccbb;
}

textarea, input {
  color: #001109;
  background-color: #ddeebb;
}
